@import "tailwindcss";
body {
  overflow-x: hidden;
}

html {
  font-size: 14px;   /* Mobile base */
}

@media (min-width: 768px) {
  html {
    font-size: 16px; /* Tablet & up */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 17px; /* Desktop */
  }
}
